.reply
{
    position: fixed;
    bottom: 3em;
    left: 0;
    z-index: 1000;
}

#chat-content
{
    overflow-y: auto;
}

.user_reply_thumb{

}

.connection {
    display: block;
    width: 100%;
}

#chat-content p
{
    width: 100%;
    height: auto;
    word-wrap:break-word;
    word-break:break-all;
}

#chat-content p img
{
    margin-left: 1em;
}