.header
{
    margin-top: 1em;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    height: 83px;
}

.header-text > .name > a
{
    text-underline: none;
    color: #000;
    font-size: 1.5em;
}


.user-profile
{
    list-style: none;
    color: #666;
}

.user-login
{
    list-style: none;
    color: #666;
}

.date
{
    border-bottom: 1px solid #666;
}



/* header右部分布局 */

.header-text
{
    position: relative;
}
.thumbnail > img
{
    height: auto;
}

.thumbnail
{
    width: 66px;
    height: 66px;
    border: 1px solid #e7e7e7;
}

.user-profile
{
    width: 80%;
    position: absolute;
    left: 90px;
    top: 0;
}

.header-profile .user-profile{padding-left: 0;}
.header-profile .user-profile li:first-child {
    border-bottom: 1px solid #eee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 238, 238);
}
.header-profile .user-profile li a{margin:0 5px;}
.header-profile .user-profile li {
    width: 360px;
    line-height: 32px;
    height: 32px;
    font-size: 13px;
}

/* 导航栏设置 */
.navbar{
    border-width: 1px 0;
}

.navbar-default{
    border-color: #e7e7e7;
}

.navbar {
    position: relative;
    border: 1px solid #e7e7e7;
}
#masthead .header-text .name{margin:20px 0 10px;font-size: 1.3em;line-height: 0.5;}
#masthead .header-text{color:#444}
#masthead .header-text .description{opacity: 0.9;}

@media screen and (max-width: 768px){
    #masthead {
        height: 200px;
    }
    #masthead .info-basic,.user-profile{
        padding-top: 2em;
    }
    #masthead .info-basic{
        border-top: 1px solid #e7e7e7;
    }
}

@media screen and (min-height: 769px){
    #masthead{
        height: 110px;
    }
}

