{include file='common/header'}
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form role="form" class="post-form">
                                <div class="col-lg-12">
                                    <p class="help-block">标题</p>
                                    <input type="text" id="title" name="title" class="form-control" placeholder="标题 .." autocomplete="off">
                                </div>
                                <div class="main-classify col-lg-3">
                                    <p class="help-block">主分类</p>
                                    <div>
                                        <select class="classify form-control chosen-select" name="classify" id="classify">
                                            {foreach $classify[0] as $foo}
                                            <option value="{$foo.classifyID}">{$foo.name}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <p class="help-block">内容</p>
                                    <textarea id="container">

                                    </textarea>
                                </div>
                                <div class="col-lg-12">
                                    <p class="help-block">链接,{link}:地址,例：http://www.baidu.com,{title}:描述,密码:{code},解压码:{ucode}</p>
                                    <textarea name="postAddress" id="postAddress" cols="30" rows="" class="form-control" placeholder="链接:  <a href='{link}'>{title}</a>,密码:  {code},解压码: {ucode}"></textarea>
                                </div>
                                <div class="col-lg-12">
                                    <p class="help-block">转发注明来源,{link}:链接地址,例：http://www.baidu.com,{title}标题</p>
                                    <textarea name="transpond" id="transpond" cols="30" rows="" class="form-control" placeholder="原文链接:<a href='{link}'>{title}</a>"></textarea>
                                </div>
                                <div class="col-lg-12">
                                    <p class="help-block">封面图</p>
                                    <div>
                                        <input type="file" name='cover' id="cover" class="form-control file-loading" accept="image/*">
                                    </div>

                                </div>
                                <div class="col-lg-12 post-btn">
                                    <button class="btn btn-primary" type="button" style="float: right;" onclick="addPost()">发布</button>
                                </div>
                                <input type="hidden" name="__token__" class="__token__" value="{$Request.token}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{include file='common/footer'}