{include file='common/header'}
    <div id="main" class="container">
        <div class="row">
            {include file='common/chat'}
            <div class="col-lg-8 content-left archive" role="main">
                <div class="panel panel-default panel-archive" role="main">
                    <div class="panel-body index-views">
                        {foreach $new['result'] as $foo}
                            <div class="col-lg-12 article">
                                <div class="post-title">
                                    <a href="viewpost/postid/{$foo.postID}" itemprop="url"><h4 class="">{$foo.title}</h4></a>
                                </div>
                                <div class="show-image">
                                    <a href="viewpost/postid/{$foo.postID}" itemprop="url">
                                        <img src="{$foo.cover}" alt="" class="img-responsive img-thumbnail " width="200" height="200">
                                    </a>
                                </div>
                                <div class="post-basic-info">
                                    <ul>
                                        <li class="post-master-view">
                                            <span class="glyphicon glyphicon-user" data-toggle="tooltip" data-placement="bottom" title="发布者"></span>
                                            <a href="showUser?name={$foo.username}">{$foo.username}</a>
                                            <span class="glyphicon glyphicon-calendar" data-toggle="tooltip" data-placement="bottom" title="发布时间"></span>
                                            <span>{:date('Y年m月d日',$foo.postTime)}</span>
                                            <span class="glyphicon glyphicon-comment" data-toggle="tooltip" data-placement="bottom" title="评论数"></span>
                                            <span>0</span>
                                            <span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="bottom" title="浏览次数"></span>
                                            <span class="views-time-{$foo.postID}"><span>{$new['views'][$foo.postID]}</span> 次浏览</span>
                                        </li>
                                        <li class="post-title">
                                            <h5>{$foo.title}</h5>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {/foreach}
                        <span class="hide">{$new['postId']}</span>
                        {$new['result']->render()}
                    </div>
                </div>
            </div>

        {include file='common/leftPanel'}
        </div>
    </div>
{include file='common/footer'}