{include file='common/header'}

<div id="main" class="container">
    <div class="row" role="main">
        <div class="col-lg-8" role="main">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped table-condensed table-hover text-center">
                        <thead class="text-center">
                            <tr>
                                <th class="text-center">等级</th>
                                <th class="text-center">每小时可回复数</th>
                                <th class="text-center">每小时可发帖数</th>
                                <th class="text-center">升级所需经验</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach $level as $lv}
                            <tr>
                                <td>{$lv['level']}</td>
                                <td>{$lv['replyNums']}</td>
                                <td>{$lv['postNums']}</td>
                                <td>{$lv['experience']}</td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                    <div>{$level->render()}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>经验获取规则</p>
                    <p>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        <span>每日首次登录 + (10 + 连续登录天数 - 1)exp</span>
                    </p>

                    <p>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        <span>回复 + 1 exp</span>
                    </p>

                    <p>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        <span>投稿 + 6 exp</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>等级排行</p>
                    <table class="table table-striped table-condensed text-center">
                        <thead>
                            <tr>
                                <th class="text-center">名称</th>
                                <th class="text-center">等级</th>
                                <th class="text-center">经验</th>
                                <th class="text-center">累计(天)</th>
                                <th class="text-center">连续(天)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach $users as $user}
                            <tr>
                                <td><span>{$user.username}</span></td>
                                <td>{$user.level}</td>
                                <td>{$user.experience}</td>
                                <td>{$user.accumulatedLoginDays}</td>
                                <td>{$user.consecutiveLoginDays}</td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{include file='common/footer'}