{include file='common/header'}
    <div class="container-fluid">
        <div class="row row-centered">
            <div class="col-lg-8 col-centered">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <h3>{$content.title}</h3>
                            <div class="show-basic">
                                <ul>
                                    <li class="post-master-view">
                                        <span class="glyphicon glyphicon-user" data-toggle="tooltip" data-placement="bottom" title="发布者"></span>
                                        <a href="">{$content.username}</a>
                                        <span class="glyphicon glyphicon-calendar" data-toggle="tooltip" data-placement="bottom" title="发布时间"></span>
                                        <span>{:date('Y年m月d日',$content.postTime)}</span>
                                        <span class="glyphicon glyphicon-comment" data-toggle="tooltip" data-placement="bottom" title="评论数"></span>
                                        <span>0</span>
                                        <span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="bottom" title="浏览次数"></span>
                                        <span class="view-times"><span>{$viewTimes}</span> 次浏览</span>
                                        <span class="hide">{$content.postID}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 show-classify">
                            <h4 class="label-title">分类:</h4>
                            <h4><span class="label label-danger"><a href="">{$classify[$content.classify]['name']}</a></span></h4>
                            {if isset($classify[$content.second_classify]['name'])}
                            <h5><span class="label label-info"><a href="">{$classify[$content.second_classify]['name']}</a></span></h5>
                            {/if}
                        </div>
                        {if $content.music != ''}
                        <div class="col-lg-12">
                            <audio controls autoplay="true">
                                <source src="{$content.music}" type="audio/ogg"/>
                                <source src="{$content.music}" type="audio/mpeg"/>
                                <source src="{$content.music}" type="audio/wav"/>
                            </audio>
                        </div>
                        {/if}

                        <div class="col-lg-12 show-content">
                            <fieldset>
                                <legend><h4>描述</h4></legend>
                                <div class="img-fit">
                                    {$content.editorValue|htmlspecialchars_decode}
                                </div>
                            </fieldset>
                        </div>
                        {if !$isShowAddress}
                        <div class="col-lg-12">
                            <fieldset>
                                <legend><h4>链接</h4></legend>
                                <div>
                            {if !$isLogin}
                                    <p><a href="/login">请先登录</a></p>

                            {/if}
                            {if $isLogin}
                                    <p><button type="button" class="btn btn-primary" onclick="showForm()">回复</button>后可以查看隐藏内容</p>
                            {/if}
                                </div>
                            </fieldset>
                        </div>
                        {/if}
                        {if $isShowAddress && $isLogin}
                        <div class="col-lg-12 show-link">
                            <fieldset>
                                <legend><h4>链接</h4></legend>
                                <div>
                                    {$content.postAddress}
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-12 show-transpond">
                            <fieldset>
                                <legend><h4>转载地址</h4></legend>
                                <div>
                                    {$content.transpond}
                                </div>
                            </fieldset>
                        </div>
                        {/if}
                        {if $isLogin && !$isShowAddress}
                        <div class="col-lg-8">
                            <textarea name="" id="content" class="edi" cols="30" rows="10"></textarea>
                        </div>
                        {/if}
                    </div>
                </div>
            </div>

            <!-- 用户回复内容显示 -->

            <div>
               <div class="col-lg-8 col-centered">
                   <div class="panel panel-default">
                       <div class="panel-body">
                           <div class="col-lg-12">
                               <h4>用户回复：</h4>
                               {if isset($reply)}
                               {foreach $reply as $value}
                                <div class="col-lg-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-lg-12">
                                                <div class="user-head col-lg-1">
                                                    <img class="img-circle" width="56" src="/static/common/images/1547625613113565.jpg" alt="">
                                                </div>
                                                <div class="col-lg-11 user-reply">
                                                    <div class="col-lg-12">
                                                        <span>{$value.user}</span> <span class="user-reply-time glyphicon glyphicon-calendar"></span><span >{:date('Y年m月d日',$value.replyTime)}</span>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="col-lg-12 user-reply-content img-fit">
                                                            {$value.editorValue|htmlspecialchars_decode}
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               {/foreach}
                               {$reply->render()}
                               {/if}
                           </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
{include file='common/footer'}