
<div>
<div class="col-lg-2 reply">
    <div class="panel-group" id="reply-group"></div>
    <div class="panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#reply-group" href="#reply_content" class="collapsed" aria-expanded="false">
                    <span class="glyphicon glyphicon-stats"></span>
                    <span id="count">自由得聊天室</span>
                </a>
            </h3>
        </div>
        <div class="panel-collapse collapse in" id="reply_content">
        </div>
    </div>
    <div class="col-lg-12" style="padding: 0;">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="chat-content" style="width: 100%;height: 480px;border: solid #ccc 1px;">
                    {if $name == ''}
                        <p>
                            <span class="connection text-center">
                                <div class="badge">登录后开放此功能</div>
                            </span>
                        </p>
                    {/if}
                </div>
                <textarea type="text" name="" id="input-content" style="width: 100%;"></textarea>
                <button type="button" id="send-btn" onclick="sendContent()">发送</button>
            </div>
        </div>
    </div>
</div>
</div>

{if $name != ''}
<script>

    function sendContent()
    {
        if ($('#input-content').val() === '') return false;
        var d = {user:'{$name}',data:$('#input-content').val()};
        var djson = JSON.stringify(d);
        ws.send(djson);
        $('#input-content').val('');
    }
    window.onload = function () {
        ws = new WebSocket("ws://172.16.69.43:2347?user={$name}");
        // var cdiv = document.getElementById('chat-content');
        var sendBtn = document.getElementById("send-btn");
        var showContent = document.getElementById("chat-content");
        ws.onmessage = function(e) {
            var para = document.createElement("p");
            var jdata = eval('('+e.data+')');
            if (jdata.type == 'said'){
                if ('{$name}' == jdata.user)
                    para.innerHTML = '<div class="msg-user-thumb col-lg-12"><img class="user_reply_thumb img-thumbnail" width="54" height="54" src="'+jdata.img+'">'
                        + '&nbsp;<span class="msg-basic-info"><p class="user-name"><span style="font-weight: bold">你</span>&nbsp;&nbsp;' +
                        '说:</p><p class="send-day">'+jdata.time+'</p></span></div></br><div class="col-lg-12"><div class="chat-paopao"><p style="float: left">'+jdata.content + '</p></div></div>';
                else
                    para.innerHTML = '<div class="msg-user-thumb col-lg-12"><img class="user_reply_thumb img-thumbnail" width="54" height="54" src="'+jdata.img+'">' +
                        '&nbsp;<span class="msg-basic-info"><p class="user-name">'+jdata.user + '&nbsp;说:</p>' +
                        '<p class="send-day">'+jdata.time+'</p></span></div></br><div class="col-lg-12"><div class="chat-paopao"><p style="float: left;">'+jdata.content + '</p></div></div>';
            }
            if (jdata.type == 'connect') {
                para.innerHTML = '<span class="connection text-center"><div class="badge">'+jdata.user+'进入本站'+'</div></span>'
            }
            if (jdata.type == 'layout')
            {
                para.innerHTML = '<span class="connection text-center"><div class="badge">'+jdata.user+'离开本站'+'</div></span>'
            }
            showContent.appendChild(para);
            $('#count').text('自由的聊天室(当前在线：'+jdata.online+')');
            // cdiv.scrollTop = cdiv.scrollHeight;
            $('#chat-content').scrollTop($('#chat-content')[0].scrollHeight);
        };
    };


</script>
{/if}