
<footer id="colophon" class="container" role="contentinfo" itemscope="" itemtype="http://schema.org/WPFooter">
    <div class="panel panel-default text-muted">
        <div class="panel-body">
            <aside id="analytics-2" class="widget clearfix footer-widget widget_analytics">
                <ul style="list-style: none;"><li class="update">统计时间 : <time title="统计数据最后更新时间：2019-01-14 17:42:42 ">01-14 17:42</time></li>
                    <li>文章 : 133</li><li>分类 : 12</li>
                    <li>标签 : 0</li><li>用户 : 8187</li>
                    <li>评论 : 829</li>
                    <li>浏览总数 : 5328777</li>
                    <li>搜索次数 : 315486</li>
                </ul>
            </aside>
            <ul style="list-style: none" id="link_menu" class="breadcrumb">
                <li class="active"><span class="glyphicon glyphicon-list-alt"></span> 链接</li>
                <li><a href="http://www.aicodebar.com/" itemprop="url">爱代码酒馆</a></li>
                <li><a href="http://www.devtf.cn/" itemprop="url">开发技术前线</a></li>
                <li><a href="http://p.codekk.com/" itemprop="url">codeKK</a></li>
                <li><a href="http://www.androidchina.net/" itemprop="url">Android开发中文站</a></li>
                <li><a href="http://apistore.baidu.com/" itemprop="url">APIStore</a></li>
                <li><a href="https://www.juhe.cn/" itemprop="url">聚合数据</a></li>
                <li><a href="http://www.androiddevtools.cn/" itemprop="url">AndroidDevTools</a></li>
                <li><a href="http://www.qubiancheng.cn/" itemprop="url">趣编程</a></li>
                <li><a href="http://www.djycode.com" itemprop="url">一起来码</a></li>
                <li><a href="#" itemprop="url">个人博客</a></li>
            </ul>
        </div>
        <div class="panel-footer clearfix">
            © 2019 ###版权所有  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;声明：本站所有资源均是网上搜集或网友上传提供,本站内容仅供观摩学习交流之用，将不对任何资源负法律责任，如有侵权请及时联系 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 客服微信：newbiefly		</div>
    </div>
</footer>

<script src="/static/common/js/jquery-3.3.1.js"></script>
<script src="/static/common/js/jquery.base64.js"></script>
<script src="/static/common/js/jquery.md5.js"></script>
<script src="/static/common/js/jquery-timer.js"></script>
<script src="/static/bootstrap-3.3.7/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/editor/ueditor.config.js"></script>
<script type="text/javascript" src="/static/editor/ueditor.js"></script>
<script type="text/javascript" src="/static/editor/ueditor.all.js"></script>
<script type="text/javascript" src="/fileinput/js/fileinput.js"></script>
<script src="/static/common/js/common.js"></script>
<script src="/jquery-chosen/chosen.jquery.js"></script>
<script src="/jquery-chosen/chosen.proto.js"></script>
<script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
{if $name != ''}
<script src="/static/common/js/chat.js"></script>
{/if}
{if isset($model)}
<script src="/static/index/js/{$model}.js"></script>
{/if}

{if isset($otherJs) && $otherJs != ''}
<script src="/static/index/js/{$otherJs}.js"></script>
{/if}

{if isset($model) && $model == 'createpost'}
<script>
    function getSecondClassify() {
        var classify = $('.classify').val();
        if ($('.second_classify')) $('.second_classify').remove();
        if (classify == 1)
        {
            var dlabel = '<p class="help-block">副分类</p>';
            var text4 = '';
            {foreach $classify[1] as $foo}
            text4 += '<option value="{$foo.classifyID}">{$foo.name}</option>';
            {/foreach}
                var dselect = '<select class="form-control chosen-select-second" name="second_classify">'+text4+'</select>';
                var ddiv = '<div class="second_classify col-lg-3">'+dlabel+dselect+'</div>';
                $('.main-classify').after(ddiv);
            }
        if (classify == 2)
        {
            var dlabel = '<p class="help-block">副分类</p>';
            var text4 = '';
            {foreach $classify[2] as $foo}
            text4 += '<option value="{$foo.classifyID}">{$foo.name}</option>';
            {/foreach}
            var dselect = '<select class="form-control chosen-select-second" name="second_classify">'+text4+'</select>';
            var ddiv = '<div class="second_classify col-lg-3">'+dlabel+dselect+'</div>';
            $('.main-classify').after(ddiv);
        }

        if (classify == 3)
        {
            var dlabel = '<p class="help-block">副分类</p>';
            var text4 = '';
            {foreach $classify[3] as $foo}
            text4 += '<option value="{$foo.classifyID}">{$foo.name}</option>';
            {/foreach}
            var dselect = '<select class="form-control chosen-select-second" name="second_classify">'+text4+'</select>';
            var ddiv = '<div class="second_classify col-lg-3">'+dlabel+dselect+'</div>';
            $('.main-classify').after(ddiv);
        }

        if (classify == 4)
        {
            var dlabel = '<p class="help-block">副分类</p>';
            var text4 = '';
            {foreach $classify[4] as $foo}
            text4 += '<option value="{$foo.classifyID}">{$foo.name}</option>';
            {/foreach}
            var dselect = '<select class="form-control chosen-select-second" name="second_classify">'+text4+'</select>';
            var ddiv = '<div class="second_classify col-lg-3">'+dlabel+dselect+'</div>';
            $('.main-classify').after(ddiv);
        }

        if (classify == 5)
        {
            var dlabel = '<p class="help-block">副分类</p>';
            var text4 = '';
            {foreach $classify[5] as $foo}
            text4 += '<option value="{$foo.classifyID}">{$foo.name}</option>';
            {/foreach}
            var dselect = '<select class="form-control chosen-select-second" name="second_classify">'+text4+'</select>';
            var ddiv = '<div class="second_classify col-lg-3">'+dlabel+dselect+'</div>';
            $('.main-classify').after(ddiv);
        }

        if (classify == 6)
        {
            var dlabel = '<p class="help-block">副分类</p>';
            var text4 = '';
            {foreach $classify[6] as $foo}
            text4 += '<option value="{$foo.classifyID}">{$foo.name}</option>';
            {/foreach}
            var dselect = '<select class="form-control chosen-select-second" name="second_classify">'+text4+'</select>';
            var ddiv = '<div class="second_classify col-lg-3">'+dlabel+dselect+'</div>';
            $('.main-classify').after(ddiv);
        }

        if (classify == 8)
        {
            var dlabel = '<p class="help-block">副分类</p>';
            var text4 = '';
            {foreach $classify[8] as $foo}
            text4 += '<option value="{$foo.classifyID}">{$foo.name}</option>';
            {/foreach}
            var dselect = '<select class="form-control chosen-select-second" name="second_classify">'+text4+'</select>';
            var ddiv = '<div class="second_classify col-lg-3">'+dlabel+dselect+'</div>';
            $('.main-classify').after(ddiv);
        }

        if (classify == 10)
        {
            var dlabel = '<p class="help-block">副分类</p>';
            var text4 = '';
            {foreach $classify[10] as $foo}
            text4 += '<option value="{$foo.classifyID}">{$foo.name}</option>';
            {/foreach}
            var dselect = '<select class="form-control chosen-select-second second_classify" name="second_classify">'+text4+'</select>';
            var ddiv = '<div class="second_classify col-lg-3">'+dlabel+dselect+'</div>';
            $('.main-classify').after(ddiv);
        }

        $(".chosen-select-second").chosen({
            no_results_text: "没有找到结果！",//搜索无结果时显示的提示
            search_contains:true,   //关键字模糊搜索，设置为false，则只从开头开始匹配
            allow_single_deselect:true, //是否允许取消选择
            max_selected_options:6  //当select为多选时，最多选择个数
        });
    }
    getSecondClassify();
    $('.chosen-container').mouseleave(function () {
       getSecondClassify();
    });
</script>
{/if}
</body>
</html>