<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap-theme.css">
    <link href="/static/editor/themes/default/css/ueditor.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/fileinput/css/fileinput.css">
    <link rel="stylesheet" href="/fileinput/css/fileinput-rtl.css">
    <link rel="stylesheet" href="/jquery-chosen/chosen.css">
    <link rel="stylesheet" href="/static/common/css/footer.css">
    <link rel="stylesheet" href="/static/common/css/header.css">
    <link rel="stylesheet" href="/static/common/css/leftPanel.css">
    {if isset($model)}
    <link rel="stylesheet" href="/static/index/css/{$model}.css">
    {/if}
    <link rel="stylesheet" href="/static/common/css/chat.css">
</head>
<body>
<header id="masthead" itemscope itemtype="http://schema.org/WPHeader">
    <div class="container header header-content">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
                <div class="header-text">
                    <div class="name">
                        <a href="http://dev-resource.com/" rel="home" id="name">资源共享平台</a>
                    </div>
                    <div class="description" id="desc">资源共享-免费的资源共享平台</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 info-basic">
                <div class="header-profile">
                {if isset($name) && $name == ''}
                    <ul class="user-login">
                        <li class="date">{$date}</li>
                        <li class="">
                            <a href="/login"><span>你好,请登录!</span></a>
                        </li>
                    </ul>
                {/if}
                {if isset($name) && $name != ''}
                    <a href="/info" class="thumbnail avatar">
                        <img src="{$thumb.thumb}" alt="" class="avatar img-thumbnail" width="54" height="54">
                    </a>
                    <div>
                    <ul class="user-profile">
                        <li class="u-info">
                            <a href="/info"><span>{$name},你好!</span></a>
                        </li>
                        <li class="clearfix action">
                            <a href="/createpost"><span>投稿</span></a>
                            <a href="/selfpost"><span>我的投稿</span></a>
                            <a href="/info"><span>个人空间</span></a>
                            <a href="/msg"><span>消息
                                {if isset($new_msg) && $new_msg != ''}
                                <span class="msg-nums" style="color: red">({$new_msg})</span>
                                {/if}
                            </span></a>
                            <a href="javascript:layout()"><span>登出</span></a>
                            <input type="text" value="{$name}" id="uname" style="display:none;">
                            <input type="text" value="{$Request.token}" id="token" style="display: none;">
                        </li>
                    </ul>
                    </div>
                {/if}
                </div>
            </div>
        </div>
    </div>
</header>
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".header-navbar-collapse">
                <span class="sr-only">切换菜单</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav id="navbar" class="collapse navbar-collapse header-navbar-collapse" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li class="newLeast active"><a href="/newLeast" itemprop="url"><font style="font-weight:bold;">最新投稿</font></a></li>
                <li class="vigor"><a href="/vigor" itemprop="url"><font style="font-weight:bold;">精品推荐</font></a></li>
                <li class="compass"><a href="/compass" itemprop="url"><font style="font-weight:bold;">站内指南</font></a></li>
                <li class="level"><a href="/level" itemprop="url"><font style="font-weight:bold">等级列表</font></a></li>
                <li class="darkroom"><a href="/darkroom" itemprop="url"><font style="font-weight: bold">小黑屋</font></a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search" method="get" id="searchform" action="/search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索 …" name="title" id="s" required="">
                </div>
                <button type="submit" class="btn btn-default" id="searchsubmit"><span class="glyphicon glyphicon-search"></span></button>
            </form>
        </nav>
    </div>
</div>