.content-left
{
}
.content-right
{
}


/* index 最新回复 */
.article:not(:last-child)
{
    border-bottom: 1px solid #e7e7e7;
}

.show-image
{
    margin-bottom: 2em;
    width: 200px;
    height: 200px;
}

.post-basic-info
{
    position: absolute;
    left: 200px;
    top: 80px;
}
.post-basic-info ul
{
    list-style: none;
    
}

.post-basic-info ul > li:first-child
{
    border-bottom: 1px dotted #e7e7e7;
    padding-bottom: .5em;
}



/* 分类标签 */
.classify a
{
    color: #e7e7e7;
}

.classify a:hover
{
    text-decoration-line: none;
}

.classify h4,h5
{
    display: inline-block;
}


#recent_user {
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
#recent_user li {
    border: 0;
    display: inline-block;
    margin: 4px 0 0 4px;
    padding: 2px;
}

.avatar {
    border-radius: 5%;
}

#recent_user {
    margin: 6px 10px 10px 6px;
    padding: 0;
}