
.show-basic ul
{
    padding: 0;
    list-style: none;
}

.show-classify h4:not(.label-title),h5
{
    display: inline-block;
}

.show-classify h4.label-title
{
    margin: 0;
}

.show-classify a
{
    color: #e7e7e7;
}

.col-centered
{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* 用户评论设置 */

.user-head
{
    margin-right: -1em;
}

.user-reply
{
    padding: 0;
    padding-top: .5em;
}

.user-reply span:first-child
{
    margin-right: 1em;
}

.user-reply span:nth-last-child(1)
{
    margin-left: .5em;
}

.user-reply-content
{
    margin-top: 1em;
}