<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
</head>
<body>
<p>昵称:{$name}</p>
<button onclick="createpost()">发布</button>
    <div>
        <input style="display: none;" type="text" name="username" value="{$name}" id="user">
        <input type="hidden" name="__token__" id="token" value="{$Request.token}">
        <button onclick="layout()">退出</button>
    </div>
<script src="/static/common/js/jquery-3.3.1.js"></script>
<script src="/static/index/js/info.js"></script>
</body>
</html>