<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>登录页</title>
	<link rel="stylesheet" href="/static/index/css/login.css">
</head>
<body>
	<div class="l-form">
		<div class="choose-form">
			<div id="choose-login">登录</div>
			<div id="choose-register">注册</div>
		</div>
		<div class="">
			<form method="post">
				<table>
					<tr>
						<th>用户名</th>
						<td><input type="text" name="username"></td>
					</tr>
					<tr>
						<th>密码</th>
						<td><input type="password" name="password"></td>
					</tr>
				</table>
					<div>
						<input type="submit" name="" id="bu1" value="进入本站" />
					</div>
			</form>
		</div>
	</div>
</body>
<script src="/static/index/js/jquery-3.3.1.js"></script>
<script src="/static/index/js/login.js"></script>
</html>